# Frontend
node_modules/
dist/
.env
.env.*

# Java / Gradle
.gradle/
build/
target/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Uploaded files
**/uploads/

# Docker environment variables
.env
.env.*
!.env.example

# Docker
docker-compose.override.yml